extends ./layout/index

block cabecera 
    include ./layout/bloque_cabecera

block categorias
    include ./layout/bloque_categorias
                        
block contenido
    main.c-categoria     
        .c-categoria__contenedor
            each categoria in resultadoCategoria
                .c-categoria__cabecera
                    h2.c-categoria__cabecera-h1 #{categoria.categoria}
                .c-categoria__paginacion
                    i.fa-solid.fa-chevron-left
                    p.c-categoria__paginacion-p 1
                    p.c-categoria__paginacion-p de
                    p.c-categoria__paginacion-p 123
                    i.fa-solid.fa-chevron-right
                include ./layout/bloque_entradas--mod
                .c-categoria__paginacion
                    i.fa-solid.fa-chevron-left
                    p.c-categoria__paginacion-p 1
                    p.c-categoria__paginacion-p de
                    p.c-categoria__paginacion-p 123
                    i.fa-solid.fa-chevron-right