extends ./layout/index

block cabecera 
    include ./layout/bloque_cabecera

block categorias
    include ./layout/bloque_categorias

block contenido
    main.c-entradas 
        .c-entradas__contenedor
            each categoria in todasCategorias
                .c-entradas__listado
                    .c-entradas__listado-titulo
                        a(href=`/entradas/${categoria.categoria}`) #{categoria.categoria}
                        i.fa-solid.fa-chevron-right
                        i.fa-solid.fa-chevron-right
                    if(categoria.id == 1)
                        include ./layout/bloque_entradas
                    else if(categoria.id == 2 || categoria.id == 3 || categoria.id == 4 || categoria.id == 5 || categoria.id == 6)    
                        include ./layout/bloque_entradas--mod
