extends ./layout/index

block contenido
    main.c-inicio 
        div.c-inicio__contenedor
            div.c-inicio__cabecera
                div.c-inicio__titular
                    h1.c-inicio__titular-h1 #{nombreSitio}
                    li.c-inicio__titular-li 
                            i.fa-solid.fa-magnifying-glass
                div.c-inicio__buscador
                    li.c-inicio__buscador-li 
                        a(href="#" target="_blank")
                            i.fa-brands.fa-facebook
                    li.c-inicio__buscador-li 
                        a(href="#" target="_blank")
                            i.fa-brands.fa-instagram
                    li.c-inicio__buscador-li 
                        a(href="#" target="_blank")
                            i.fa-brands.fa-youtube
                    div.c-inicio__buscador-cuadro
                        li.c-inicio__buscador-cuadro-li 
                            input(type="text" placeholder="Introduce el texto a buscar")
                        li.c-inicio__buscador-cuadro-li
                            i.fa-solid.fa-magnifying-glass
            div.c-inicio__contenedor2
                ul.c-inicio__ul
                    each categoria in categorias
                        li.c-inicio__li= categoria.categoria
            div.c-inicio__contenedor2--mod
                div.c-inicio__categoria
                    h5 Salidas
                    i.fa-solid.fa-chevron-right
                    i.fa-solid.fa-chevron-right
                ul.c-inicio__grid 
                    li.c-inicio__noticia
                        div.c-inicio__noticia-img
                            a(href="#")
                                img(src="assets/img/1.jpg" alt="imagen noticia")
                        div.c-inicio__noticia-contenido
                            div.c-inicio__noticia-titulo
                                a(href="#")
                                    h5 Titulo de la noticia en cuestion
                            div.c-inicio__noticia-cuadro
                                span.c-inicio__noticia-categoria Categoría
                                span.c-inicio__noticia-fecha - 21/12/2021
                            p.c-inicio__noticia-texto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit....
                    li.c-inicio__noticia
                        div.c-inicio__noticia-img
                            a(href="#")
                                img(src="assets/img/1.jpg" alt="imagen noticia")
                        div.c-inicio__noticia-contenido
                            div.c-inicio__noticia-titulo
                                a(href="#")
                                    h5 Titulo de la noticia en cuestion
                            div.c-inicio__noticia-cuadro
                                span.c-inicio__noticia-categoria Categoría
                                span.c-inicio__noticia-fecha - 21/12/2021
                            p.c-inicio__noticia-texto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit....
                div.c-inicio__categoria
                    h5 Noticias
                    i.fa-solid.fa-chevron-right
                    i.fa-solid.fa-chevron-right
                ul.c-inicio__grid--mod
                    li.c-inicio__noticia
                        div.c-inicio__noticia-img
                            a(href="#")
                                img(src="assets/img/1.jpg" alt="imagen noticia")
                        div.c-inicio__noticia-contenido
                            div.c-inicio__noticia-titulo
                                a(href="#")
                                    h5 Titulo de la noticia en cuestion
                            div.c-inicio__noticia-cuadro
                                span.c-inicio__noticia-categoria Categoría
                                span.c-inicio__noticia-fecha - 21/12/2021
                            p.c-inicio__noticia-texto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit....
                    li.c-inicio__noticia
                        div.c-inicio__noticia-img
                            a(href="#")
                                img(src="assets/img/1.jpg" alt="imagen noticia")
                        div.c-inicio__noticia-contenido
                            div.c-inicio__noticia-titulo
                                a(href="#")
                                    h5 Titulo de la noticia en cuestion
                            div.c-inicio__noticia-cuadro
                                span.c-inicio__noticia-categoria Categoría
                                span.c-inicio__noticia-fecha - 21/12/2021
                            p.c-inicio__noticia-texto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit....
                    li.c-inicio__noticia
                        div.c-inicio__noticia-img
                            a(href="#")
                                img(src="assets/img/1.jpg" alt="imagen noticia")
                        div.c-inicio__noticia-contenido
                            div.c-inicio__noticia-titulo
                                a(href="#")
                                    h5 Titulo de la noticia en cuestion
                            div.c-inicio__noticia-cuadro
                                span.c-inicio__noticia-categoria Categoría
                                span.c-inicio__noticia-fecha - 21/12/2021
                            p.c-inicio__noticia-texto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit....
                    li.c-inicio__noticia
                        div.c-inicio__noticia-img
                            a(href="#")
                                img(src="assets/img/1.jpg" alt="imagen noticia")
                        div.c-inicio__noticia-contenido
                            div.c-inicio__noticia-titulo
                                a(href="#")
                                    h5 Titulo de la noticia en cuestion
                            div.c-inicio__noticia-cuadro
                                span.c-inicio__noticia-categoria Categoría
                                span.c-inicio__noticia-fecha - 21/12/2021
                            p.c-inicio__noticia-texto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit....
                div.c-inicio__masnoticias
                    ul.c-inicio__grid--mod2
                        div.c-inicio__categoria
                            h5 Consejos
                            i.fa-solid.fa-chevron-right
                            i.fa-solid.fa-chevron-right
                        li.c-inicio__noticia--mod
                            div.c-inicio__noticia-img--mod
                                a(href="#")
                                    img(src="assets/img/1.jpg" alt="imagen noticia")
                            div.c-inicio__noticia-contenido--mod
                                div.c-inicio__noticia-titulo
                                    a(href="#")
                                        h5 Titulo de la noticia en cuestion
                                div.c-inicio__noticia-cuadro
                                    span.c-inicio__noticia-categoria Categoría
                                    span.c-inicio__noticia-fecha - 21/12/2021
                                p.c-inicio__noticia-texto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit....
                        li.c-inicio__noticia--mod
                            div.c-inicio__noticia-img--mod
                                a(href="#")
                                    img(src="assets/img/1.jpg" alt="imagen noticia")
                            div.c-inicio__noticia-contenido--mod
                                div.c-inicio__noticia-titulo
                                    a(href="#")
                                        h5 Titulo de la noticia en cuestion
                                div.c-inicio__noticia-cuadro
                                    span.c-inicio__noticia-categoria Categoría
                                    span.c-inicio__noticia-fecha - 21/12/2021
                                p.c-inicio__noticia-texto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit....
                    ul.c-inicio__grid--mod2
                        div.c-inicio__categoria
                            h5 P.Física
                            i.fa-solid.fa-chevron-right
                            i.fa-solid.fa-chevron-right
                        li.c-inicio__noticia--mod
                            div.c-inicio__noticia-img--mod
                                a(href="#")
                                    img(src="assets/img/1.jpg" alt="imagen noticia")
                            div.c-inicio__noticia-contenido--mod
                                div.c-inicio__noticia-titulo
                                    a(href="#")
                                        h5 Titulo de la noticia en cuestion
                                div.c-inicio__noticia-cuadro
                                    span.c-inicio__noticia-categoria Categoría
                                    span.c-inicio__noticia-fecha - 21/12/2021
                                p.c-inicio__noticia-texto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit....
                        li.c-inicio__noticia--mod
                            div.c-inicio__noticia-img--mod
                                a(href="#")
                                    img(src="assets/img/1.jpg" alt="imagen noticia")
                            div.c-inicio__noticia-contenido--mod
                                div.c-inicio__noticia-titulo
                                    a(href="#")
                                        h5 Titulo de la noticia en cuestion
                                div.c-inicio__noticia-cuadro
                                    span.c-inicio__noticia-categoria Categoría
                                    span.c-inicio__noticia-fecha - 21/12/2021
                                p.c-inicio__noticia-texto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit....
    if(user)
        each u in user 
            p= u.nombre
            p= u.apellidos

    script(src='js/inicio.js' type='module')