extends ./layout/index

block contenido
    main.c-blog 
        div.c-blog__contenedor
            div.c-blog__cabecera
                div.c-blog__titular
                    h1.c-blog__titular-h1 #{nombreSitio}
                    li.c-blog__titular-li 
                            i.fa-solid.fa-magnifying-glass
                div.c-blog__buscador
                    li.c-blog__buscador-li 
                        a(href="#" target="_blank")
                            i.fa-brands.fa-facebook
                    li.c-blog__buscador-li 
                        a(href="#" target="_blank")
                            i.fa-brands.fa-instagram
                    li.c-blog__buscador-li 
                        a(href="#" target="_blank")
                            i.fa-brands.fa-youtube
                    div.c-blog__buscador-cuadro
                        li.c-blog__buscador-cuadro-li 
                            input(type="text" placeholder="Introduce el texto a buscar")
                        li.c-blog__buscador-cuadro-li
                            i.fa-solid.fa-magnifying-glass
            div.c-blog__contenedor2
                ul.c-blog__ul 
                    li.c-blog__li Salidas
                    li.c-blog__li Noticias
                    li.c-blog__li Consejos
                    li.c-blog__li Test
                    li.c-blog__li Reportajes
                    li.c-blog__li P.Física
                    li.c-blog__li Videos
            div.c-blog__contenedor2--mod
                div.c-blog__categoria
                    h5 Salidas
                    i.fa-solid.fa-chevron-right
                    i.fa-solid.fa-chevron-right
                ul.c-blog__grid 
                    li.c-blog__noticia
                        div.c-blog__noticia-img
                            a(href="#")
                                img(src="assets/img/1.jpg" alt="imagen noticia")
                        div.c-blog__noticia-contenido
                            div.c-blog__noticia-titulo
                                a(href="#")
                                    h5 Titulo de la noticia en cuestion
                            div.c-blog__noticia-cuadro
                                span.c-blog__noticia-categoria Categoría
                                span.c-blog__noticia-fecha - 21/12/2021
                            p.c-blog__noticia-texto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit....
                    li.c-blog__noticia
                        div.c-blog__noticia-img
                            a(href="#")
                                img(src="assets/img/1.jpg" alt="imagen noticia")
                        div.c-blog__noticia-contenido
                            div.c-blog__noticia-titulo
                                a(href="#")
                                    h5 Titulo de la noticia en cuestion
                            div.c-blog__noticia-cuadro
                                span.c-blog__noticia-categoria Categoría
                                span.c-blog__noticia-fecha - 21/12/2021
                            p.c-blog__noticia-texto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit....
                div.c-blog__categoria
                    h5 Noticias
                    i.fa-solid.fa-chevron-right
                    i.fa-solid.fa-chevron-right
                ul.c-blog__grid--mod
                    li.c-blog__noticia
                        div.c-blog__noticia-img
                            a(href="#")
                                img(src="assets/img/1.jpg" alt="imagen noticia")
                        div.c-blog__noticia-contenido
                            div.c-blog__noticia-titulo
                                a(href="#")
                                    h5 Titulo de la noticia en cuestion
                            div.c-blog__noticia-cuadro
                                span.c-blog__noticia-categoria Categoría
                                span.c-blog__noticia-fecha - 21/12/2021
                            p.c-blog__noticia-texto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit....
                    li.c-blog__noticia
                        div.c-blog__noticia-img
                            a(href="#")
                                img(src="assets/img/1.jpg" alt="imagen noticia")
                        div.c-blog__noticia-contenido
                            div.c-blog__noticia-titulo
                                a(href="#")
                                    h5 Titulo de la noticia en cuestion
                            div.c-blog__noticia-cuadro
                                span.c-blog__noticia-categoria Categoría
                                span.c-blog__noticia-fecha - 21/12/2021
                            p.c-blog__noticia-texto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit....
                    li.c-blog__noticia
                        div.c-blog__noticia-img
                            a(href="#")
                                img(src="assets/img/1.jpg" alt="imagen noticia")
                        div.c-blog__noticia-contenido
                            div.c-blog__noticia-titulo
                                a(href="#")
                                    h5 Titulo de la noticia en cuestion
                            div.c-blog__noticia-cuadro
                                span.c-blog__noticia-categoria Categoría
                                span.c-blog__noticia-fecha - 21/12/2021
                            p.c-blog__noticia-texto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit....
                    li.c-blog__noticia
                        div.c-blog__noticia-img
                            a(href="#")
                                img(src="assets/img/1.jpg" alt="imagen noticia")
                        div.c-blog__noticia-contenido
                            div.c-blog__noticia-titulo
                                a(href="#")
                                    h5 Titulo de la noticia en cuestion
                            div.c-blog__noticia-cuadro
                                span.c-blog__noticia-categoria Categoría
                                span.c-blog__noticia-fecha - 21/12/2021
                            p.c-blog__noticia-texto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit....
                div.c-blog__masnoticias
                    ul.c-blog__grid--mod2
                        div.c-blog__categoria
                            h5 Consejos
                            i.fa-solid.fa-chevron-right
                            i.fa-solid.fa-chevron-right
                        li.c-blog__noticia--mod
                            div.c-blog__noticia-img--mod
                                a(href="#")
                                    img(src="assets/img/1.jpg" alt="imagen noticia")
                            div.c-blog__noticia-contenido--mod
                                div.c-blog__noticia-titulo
                                    a(href="#")
                                        h5 Titulo de la noticia en cuestion
                                div.c-blog__noticia-cuadro
                                    span.c-blog__noticia-categoria Categoría
                                    span.c-blog__noticia-fecha - 21/12/2021
                                p.c-blog__noticia-texto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit....
                        li.c-blog__noticia--mod
                            div.c-blog__noticia-img--mod
                                a(href="#")
                                    img(src="assets/img/1.jpg" alt="imagen noticia")
                            div.c-blog__noticia-contenido--mod
                                div.c-blog__noticia-titulo
                                    a(href="#")
                                        h5 Titulo de la noticia en cuestion
                                div.c-blog__noticia-cuadro
                                    span.c-blog__noticia-categoria Categoría
                                    span.c-blog__noticia-fecha - 21/12/2021
                                p.c-blog__noticia-texto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit....
                    ul.c-blog__grid--mod2
                        div.c-blog__categoria
                            h5 P.Física
                            i.fa-solid.fa-chevron-right
                            i.fa-solid.fa-chevron-right
                        li.c-blog__noticia--mod
                            div.c-blog__noticia-img--mod
                                a(href="#")
                                    img(src="assets/img/1.jpg" alt="imagen noticia")
                            div.c-blog__noticia-contenido--mod
                                div.c-blog__noticia-titulo
                                    a(href="#")
                                        h5 Titulo de la noticia en cuestion
                                div.c-blog__noticia-cuadro
                                    span.c-blog__noticia-categoria Categoría
                                    span.c-blog__noticia-fecha - 21/12/2021
                                p.c-blog__noticia-texto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit....
                        li.c-blog__noticia--mod
                            div.c-blog__noticia-img--mod
                                a(href="#")
                                    img(src="assets/img/1.jpg" alt="imagen noticia")
                            div.c-blog__noticia-contenido--mod
                                div.c-blog__noticia-titulo
                                    a(href="#")
                                        h5 Titulo de la noticia en cuestion
                                div.c-blog__noticia-cuadro
                                    span.c-blog__noticia-categoria Categoría
                                    span.c-blog__noticia-fecha - 21/12/2021
                                p.c-blog__noticia-texto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit....
                            