extends ./layout/index

block cabecera 
    include ./layout/bloque_cabecera

block contenido
    section.c-nosotros 
        .c-nosotros__contenedor 
            h3.c-nosotros__h3 Motivaciones ¿Quién soy?
            p.c-nosotros__p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere voluptatem adipisci sint veniam corrupti. Ea neque nemo dolorem asperiores distinctio totam similique deleniti reprehenderit, molestias fugiat temporibus cupiditate minus ipsa?Asperiores voluptates quas repudiandae iste iure molestiae aut, reprehenderit commodi amet ipsam unde expedita. Culpa soluta, voluptas inventore quidem commodi recusandae quia, quis temporibus nesciunt magni ea esse nemo omnis?Quia ut tempora laborum ab porro alias odio numquam repellat voluptatum sequi quas veniam vel nostrum quam aut molestias, itaque dolore dolorem labore possimus earum? Reiciendis minima labore amet. 
            p.c-nosotros__p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere voluptatem adipisci sint veniam corrupti. Ea neque nemo dolorem asperiores distinctio totam similique deleniti reprehenderit, molestias fugiat temporibus cupiditate minus ipsa?Asperiores voluptates quas repudiandae iste iure molestiae aut, reprehenderit commodi amet ipsam unde expedita. Culpa soluta, voluptas inventore quidem commodi recusandae quia, quis temporibus nesciunt magni ea esse nemo omnis?Quia ut tempora laborum ab porro alias odio numquam repellat voluptatum sequi quas veniam vel nostrum quam aut molestias, itaque dolore dolorem labore possimus earum? Reiciendis minima labore amet. 
            .c-nosotros__img 
                img(src='assets/img/nosotros1.jpg')
            p.c-nosotros__p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere voluptatem adipisci sint veniam corrupti. Ea neque nemo dolorem asperiores distinctio totam similique deleniti reprehenderit, molestias fugiat temporibus cupiditate minus ipsa?Asperiores voluptates quas repudiandae iste iure molestiae aut, reprehenderit commodi amet ipsam unde expedita. Culpa soluta, voluptas inventore quidem commodi recusandae quia, quis temporibus nesciunt magni ea esse nemo omnis?Quia ut tempora laborum ab porro alias odio numquam repellat voluptatum sequi quas veniam vel nostrum quam aut molestias, itaque dolore dolorem labore possimus earum? Reiciendis minima labore amet. 
            form.c-nosotros__form(action="/nosotros" method="POST")
                h2.c-nosotros__form-h2 Newsletter
                fieldset.c-nosotros__form-fieldset 
                    input.c-nosotros__form-input(type="email", name="email", value=email, placeholder="Tu email")
                    input.c-button.c-button--amarillo.c-nosotros__form-input.js-nosotros__form-input(type="submit", value="Enviar")
            div.js-nosotros__mensaje
                if(mensaje)
                    each m in mensaje
                        if(m.tipo == 'alerta')
                            p.u-mensaje.u-mensaje--alerta= m.contenido
                        if(m.tipo == 'exito')
                            p.u-mensaje.u-mensaje--exito= m.contenido