@charset "UTF-8";
/*  tamaños para media queries (desde este tamaño en adelante, ej: @media (min-width: $tablet) */
/* fuente principal */
/* colores */
/* Reseteamos los margin y paddings de todas las etiquetas */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  cursor: pointer;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  text-transform: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: #181818;
  color: #fff;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  /* /Opcional) */
  line-height: 1.4em;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: 600;
  text-align: center;
}

h4 {
  font-weight: normal;
}

body {
  max-width: 112.5rem;
  font-family: "Garamond";
  color: #181818;
  background-color: #fff;
  margin: 0 auto;
}

.c-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1.5625rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.c-button--amarillo {
  background-color: #ffcc00;
  transition: color 0.5s ease, background-color 0.5s ease;
}
.c-button--amarillo:hover {
  background-color: #181818;
  color: #fff;
}
.c-button--amarillo:hover i {
  color: #fff;
}
.c-button--amarillo i {
  color: #181818;
}

.c-header {
  background-color: #ffcc00;
  position: relative;
  z-index: 80;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.c-header__contenedor {
  padding: 0.5rem;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
@media (min-width: 480px) {
  .c-header__contenedor {
    width: 95%;
  }
}
@media (min-width: 768px) {
  .c-header__contenedor {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .c-header__contenedor {
    width: 80%;
  }
}
.c-header__img {
  cursor: pointer;
  max-width: 5em;
}
@media (min-width: 480px) {
  .c-header__img {
    max-width: 10rem;
  }
}
.c-header__titulo {
  font-size: 1em;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .c-header__titulo {
    font-size: 1.5em;
  }
}
.c-header__nav {
  transition: all 0.7s ease-in;
  padding: 0.1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  background-color: rgba(255, 193, 0, 0.4901960784);
  backdrop-filter: blur(2px);
  position: absolute;
  top: 3.5244rem;
  right: 0;
  left: 0;
}
.c-header__nav--mod {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}
@media (min-width: 480px) {
  .c-header__nav {
    position: absolute;
    top: 5.9988rem;
    right: 0;
    left: 0;
  }
}
@media (min-width: 768px) {
  .c-header__nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    background-color: transparent;
    backdrop-filter: none;
    padding: 0.1rem 1rem;
    opacity: 1;
    pointer-events: initial;
    visibility: visible;
  }
}
.c-header__nav-li {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
}
@media (min-width: 768px) {
  .c-header__nav-li {
    font-size: 1.3em;
  }
}
.c-header__nav-li:hover {
  background-color: #181818;
  color: #fff;
  border-radius: 10px;
}
.c-header__burger {
  cursor: pointer;
}
@media (min-width: 768px) {
  .c-header__burger {
    display: none;
  }
}
.c-header__burger-icono {
  font-size: 1.5em;
  padding: 0.5rem;
}

.c-home {
  position: relative;
}
.c-home header {
  background-color: transparent;
  position: absolute;
  right: 0;
  left: 0;
  color: #fff;
}

.c-slider__contenedor {
  background-image: url("../../assets/img/1.jpg");
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.c-cabecera {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.c-cabecera__contenedor {
  width: 95%;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .c-cabecera__contenedor {
    margin: 2rem 0;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .c-cabecera__contenedor {
    margin: 3rem 0;
    width: 80%;
  }
}
.c-cabecera__h1 {
  font-size: 1.7em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
@media (min-width: 768px) {
  .c-cabecera__h1 {
    font-size: 2.1em;
  }
}
@media (min-width: 1024px) {
  .c-cabecera__h1 {
    font-size: 2.5em;
  }
}

.c-categorias {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.c-categorias__contenedor {
  width: 95%;
}
@media (min-width: 768px) {
  .c-categorias__contenedor {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .c-categorias__contenedor {
    width: 80%;
  }
}
.c-categorias__categorias {
  margin-bottom: 0.5rem 0;
  overflow-x: hidden;
  width: 100%;
}
@media (min-width: 1024px) {
  .c-categorias__categorias {
    margin-bottom: 1rem 0;
  }
}
.c-categorias__categorias-ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .c-categorias__categorias-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #999;
  }
}
.c-categorias__categorias-li {
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: #f1f1f1;
  text-transform: capitalize;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .c-categorias__categorias-li {
    background-color: #fff;
    border-radius: 0;
    margin: 0;
    padding: 1rem;
    font-size: 1.2em;
    font-weight: bold;
  }
  .c-categorias__categorias-li:hover {
    border-bottom: 2px solid #999;
  }
}

.c-nosotros {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.c-nosotros__contenedor {
  margin: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (min-width: 480px) {
  .c-nosotros__contenedor {
    width: 95%;
  }
}
@media (min-width: 768px) {
  .c-nosotros__contenedor {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .c-nosotros__contenedor {
    margin: 3rem 0;
    width: 80%;
  }
}
.c-nosotros__h1 {
  font-size: 2em;
  margin-bottom: 2rem;
}
.c-nosotros__p {
  margin: 1rem;
}
@media (min-width: 768px) {
  .c-nosotros__p {
    font-size: 1.2em;
  }
}
.c-nosotros__p::first-line {
  margin-left: 2rem;
}
.c-nosotros__img {
  margin: 2rem;
}
.c-nosotros__form {
  width: 100%;
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(24, 24, 24, 0.5882352941), -0.5rem -0.5rem 1rem rgba(24, 24, 24, 0.5882352941);
  transition: all 1s ease;
}
@media (min-width: 768px) {
  .c-nosotros__form {
    padding: 2rem;
    margin: 3rem;
  }
}
.c-nosotros__form-h2 {
  font-size: 1.5em;
  margin-bottom: 1rem;
  padding: 1rem;
}
@media (min-width: 768px) {
  .c-nosotros__form-h2 {
    font-size: 2em;
    margin-bottom: 3rem;
  }
}
.c-nosotros__form-fieldset {
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .c-nosotros__form-fieldset {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}
.c-nosotros__form-input:first-child {
  border: 1px solid #999;
  padding: 1rem;
}
@media (min-width: 768px) {
  .c-nosotros__form-input:first-child {
    margin-right: 2rem;
  }
}
@media (min-width: 768px) {
  .c-nosotros__form-input:nth-child(2) {
    margin-left: 2rem;
  }
}
.c-nosotros__form-input {
  margin: 1rem;
  font-size: 1.3em;
}

.c-entradas {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.c-entradas__contenedor {
  width: 95%;
}
@media (min-width: 768px) {
  .c-entradas__contenedor {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .c-entradas__contenedor {
    width: 80%;
  }
}
.c-entradas__listado {
  margin: 1rem 0;
}
.c-entradas__listado-titulo {
  font-size: 1.5rem;
  padding: 1rem;
  border-bottom: 2px solid #999;
  color: #000;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.c-entradas__listado-titulo a {
  text-transform: capitalize;
  cursor: pointer;
  font-weight: bold;
  margin-right: 1rem;
}
.c-entradas__listado-titulo a:hover {
  color: #999;
}
.c-entradas__listado-titulo i {
  font-size: 0.6em;
}
@media (min-width: 1024px) {
  .c-entradas__listado-titulo {
    font-size: 2rem;
  }
}
.c-entradas__listado-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
@media (min-width: 768px) {
  .c-entradas__listado-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
.c-entradas__listado-grid--mod {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
@media (min-width: 768px) {
  .c-entradas__listado-grid--mod {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}
.c-entradas__listado-grid--mod2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}
.c-entradas__noticia {
  margin-bottom: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.c-entradas__noticia-img {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .c-entradas__noticia-img {
    max-height: 20rem;
    overflow-y: hidden;
  }
}
.c-entradas__noticia-img--mod {
  max-height: 9.9031rem;
  overflow-y: hidden;
}
.c-entradas__noticia-contenido--mod {
  margin: 1rem;
}
.c-entradas__noticia-titulo {
  font-size: 1.6em;
  margin: 0.5rem 0;
  font-weight: bold;
}
.c-entradas__noticia-cuadro {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.c-entradas__noticia-categoria {
  color: #ffc400;
  margin-right: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.c-entradas__noticia-fecha {
  margin: 0.5rem 0;
  color: #999;
}
.c-entradas__noticia-texto--mod {
  max-height: 150px;
  overflow-y: hidden;
}

.c-categoria {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.c-categoria__contenedor {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 95%;
}
@media (min-width: 768px) {
  .c-categoria__contenedor {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .c-categoria__contenedor {
    width: 80%;
  }
}
.c-categoria__cabecera {
  width: 100%;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .c-categoria__cabecera {
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
}
.c-categoria__cabecera-h1 {
  font-size: 1.5em;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .c-categoria__cabecera-h1 {
    font-size: 2.5em;
  }
}
.c-categoria__paginacion {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
@media (min-width: 768px) {
  .c-categoria__paginacion {
    width: 90%;
    margin-bottom: 2rem;
  }
}
.c-categoria__paginacion i {
  cursor: pointer;
  margin-right: 0.3rem;
}
.c-categoria__paginacion-p {
  margin-right: 0.3rem;
}
.c-categoria__grid {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #999;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}
@media (min-width: 768px) {
  .c-categoria__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    padding-bottom: 2rem;
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .c-categoria__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}
.c-categoria__noticia {
  margin-bottom: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.c-categoria__noticia-img {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .c-categoria__noticia-img {
    max-height: 20rem;
    overflow-y: hidden;
  }
}
.c-categoria__noticia-img--mod {
  max-height: 9.9031rem;
  overflow-y: hidden;
}
.c-categoria__noticia-contenido--mod {
  margin: 1rem;
}
.c-categoria__noticia-titulo {
  font-size: 1.6em;
  margin: 0.5rem 0;
  font-weight: bold;
}
.c-categoria__noticia-cuadro {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.c-categoria__noticia-categoria {
  color: #ffc400;
  margin-right: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.c-categoria__noticia-fecha {
  margin: 0.5rem 0;
  color: #999;
}
.c-categoria__noticia-texto--mod {
  max-height: 150px;
  overflow-y: hidden;
}

.c-entradaDetalle {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.c-entradaDetalle__contenedor {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 95%;
}
@media (min-width: 768px) {
  .c-entradaDetalle__contenedor {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .c-entradaDetalle__contenedor {
    width: 80%;
  }
}
.c-entradaDetalle__noticia {
  margin: 1rem 0;
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 768px) {
  .c-entradaDetalle__noticia {
    width: 80%;
    margin: 2rem 0;
  }
}
@media (min-width: 1024px) {
  .c-entradaDetalle__noticia {
    margin: 4rem 0;
  }
}
.c-entradaDetalle__titulo {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .c-entradaDetalle__titulo {
    font-size: 2.5em;
    line-height: 1em;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1024px) {
  .c-entradaDetalle__titulo {
    font-size: 3em;
  }
}
.c-entradaDetalle__comentario {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 768px) {
  .c-entradaDetalle__comentario {
    margin-bottom: 2rem;
  }
}
@media (min-width: 1024px) {
  .c-entradaDetalle__comentario {
    margin-bottom: 4rem;
  }
}
.c-entradaDetalle__comentario-fecha, .c-entradaDetalle__comentario-p {
  font-size: 0.8em;
  cursor: pointer;
}
@media (min-width: 768px) {
  .c-entradaDetalle__comentario-fecha, .c-entradaDetalle__comentario-p {
    font-size: 1em;
  }
}
.c-entradaDetalle__comentario-i, .c-entradaDetalle__comentario-p {
  color: blue;
}
.c-entradaDetalle__comentario-i {
  margin: 0 1rem;
  cursor: pointer;
}
.c-entradaDetalle__img {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .c-entradaDetalle__texto {
    font-size: 1.3em;
  }
}
.c-entradaDetalle__boxRecientes {
  padding: 1rem 0;
  border-top: 1px dotted blue;
  border-bottom: 1px dotted blue;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .c-entradaDetalle__boxRecientes {
    padding: 2rem 0;
  }
}
.c-entradaDetalle__recientes {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .c-entradaDetalle__recientes {
    font-size: 1.8em;
    margin-bottom: 1.5rem;
  }
}
.c-entradaDetalle__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}
@media (min-width: 480px) {
  .c-entradaDetalle__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}
@media (min-width: 768px) {
  .c-entradaDetalle__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
  }
}
.c-entradaDetalle__noticiasRecientes {
  margin-bottom: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.c-entradaDetalle__noticiasRecientes-img {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .c-entradaDetalle__noticiasRecientes-img {
    max-height: 20rem;
    overflow-y: hidden;
  }
}
.c-entradaDetalle__noticiasRecientes-img--mod {
  max-height: 9.9031rem;
  overflow-y: hidden;
}
.c-entradaDetalle__noticiasRecientes-contenido--mod {
  margin: 1rem;
}
.c-entradaDetalle__noticiasRecientes-titulo {
  font-size: 1.6em;
  margin: 0.5rem 0;
  font-weight: bold;
}
.c-entradaDetalle__noticiasRecientes-cuadro {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.c-entradaDetalle__noticiasRecientes-categoria {
  color: #ffc400;
  margin-right: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.c-entradaDetalle__noticiasRecientes-fecha {
  margin: 0.5rem 0;
  color: #999;
}
.c-entradaDetalle__noticiasRecientes-texto--mod {
  max-height: 150px;
  overflow-y: hidden;
}
.c-entradaDetalle__boxComentarios {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .c-entradaDetalle__boxComentarios {
    margin: 2rem 0;
  }
}
@media (min-width: 1024px) {
  .c-entradaDetalle__boxComentarios {
    width: 90%;
  }
}
.c-entradaDetalle__listadoComentarios {
  margin-bottom: 3rem;
  width: 100%;
}
.c-entradaDetalle__listadoComentarios-comentario {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px dotted #ddd;
}
@media (min-width: 768px) {
  .c-entradaDetalle__listadoComentarios-comentario {
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}
.c-entradaDetalle__listadoComentarios-arriba {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.c-entradaDetalle__listadoComentarios-p {
  margin-right: 0.5rem;
}
.c-entradaDetalle__listadoComentarios-p:nth-child(1) {
  font-weight: bold;
  text-transform: capitalize;
}
.c-entradaDetalle__h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .c-entradaDetalle__h3 {
    font-size: 1.8em;
    margin-bottom: 1.5rem;
  }
}
.c-entradaDetalle__h3--mod {
  width: 100%;
  text-align: start;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #999;
}
@media (min-width: 768px) {
  .c-entradaDetalle__h3--mod {
    font-size: 1.5em;
  }
}
.c-entradaDetalle__form {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  background-color: #f1f1f1;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .c-entradaDetalle__form {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.c-entradaDetalle__form-h5 {
  font-size: 1.2em;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .c-entradaDetalle__form-h5 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1.5rem;
  }
}
.c-entradaDetalle__form-contenedor {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .c-entradaDetalle__form-contenedor {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}
.c-entradaDetalle__fieldsetContenedor {
  width: 100%;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .c-entradaDetalle__fieldsetContenedor {
    width: 70%;
    padding: 1rem;
  }
}
.c-entradaDetalle__fieldsetContenedor--mod {
  display: flex;
  flex-flow: row column;
  justify-content: flex-end;
  align-items: center;
}
.c-entradaDetalle__fieldset {
  width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .c-entradaDetalle__fieldset {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}
.c-entradaDetalle__fieldset input, .c-entradaDetalle__fieldset textarea {
  width: 100%;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 5px;
}
.c-entradaDetalle__fieldset p {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .c-entradaDetalle__fieldset p {
    font-size: 1rem;
  }
}
.c-entradaDetalle__fieldset-id {
  display: none;
}
@media (min-width: 768px) {
  .c-entradaDetalle__fieldset:first-child input {
    width: 70%;
    margin-left: 1rem;
  }
}
@media (min-width: 768px) {
  .c-entradaDetalle__fieldset:nth-child(2) p {
    display: none;
  }
}
.c-entradaDetalle__normas {
  width: 100%;
  list-style-type: disc;
  padding: 0.5rem;
  font-size: 0.8em;
}
@media (min-width: 768px) {
  .c-entradaDetalle__normas {
    width: 30%;
    font-size: 0.9em;
  }
}
.c-entradaDetalle__normas-li {
  list-style-type: inherit;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}
.c-entradaDetalle__normas-li:first-child, .c-entradaDetalle__normas-li:nth-child(2) {
  list-style-type: none;
  margin-left: 0;
}
.c-entradaDetalle__normas-li:first-child {
  font-weight: bold;
  margin-bottom: 1rem;
}

.c-footer {
  background-color: #181818;
  padding: 2rem 0;
}
.c-footer__contenedor {
  margin: 0 auto;
  width: 90%;
  color: #999;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .c-footer__contenedor {
    width: 75%;
  }
}
.c-footer__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.c-footer__li {
  padding: 0 1rem;
  font-size: 1.5em;
}
@media (min-width: 768px) {
  .c-footer__li {
    font-size: 2em;
  }
}
.c-footer__li a {
  transition: all 0.3s ease;
  cursor: pointer;
}
.c-footer__li a:hover {
  color: #ddd;
}
.c-footer__copy {
  font-size: 0.85em;
}
@media (min-width: 768px) {
  .c-footer__copy {
    font-size: 1em;
  }
}

.u-opacity--50 {
  opacity: 0.5;
}

.u-cursor--not-allowed {
  cursor: not-allowed;
}

.u-active {
  background-color: #ffcc00;
}

.u-mensaje {
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem;
}
.u-mensaje--error {
  color: red;
}
.u-mensaje--exito {
  color: green;
}
.u-mensaje--alerta {
  color: #ffc400;
}

/*# sourceMappingURL=app.css.map */
