.c-cabecera {
    @include flex (column, nowrap, center, center);
    &__contenedor {
        width: 95%;
        margin: 1.5rem 0;
        @include tablet {
            margin: 2rem 0;
            width: 100%;
        }
        @include desktop {
            margin: 3rem 0;
            width: 80%;
        }
    }
    &__h1 {
        font-size: 2em;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        @include tablet {
            font-size: 2.5em;
        }
        @include desktop {
            font-size: 3em;
        }
    }
}