.c-categorias {
    @include flex (column, nowrap, center, center);
    &__contenedor {
        width: 95%;
        @include tablet {
            width: 90%;
        }
        @include desktop {
            width: 80%;
        }
    }
    &__categorias {
        position: relative;
        @include flex(column, nowrap, center, center);
        width: 100%;
        @include desktop {
            margin-bottom: 1rem 0;
        }
        &-botones{
            width: 100%;
            position: absolute;
            @include tablet {
                display: none;
            }
            i:first-child {
                @include position(absolute, -7px, null, null, 0);
            }
            i:last-child {
                @include position(absolute, -7px, 0, null, null);
            }
        }
        &-ul {
            width: 90%;
            overflow-x: hidden;
            @include flex(row, nowrap, flex-start, center);
            @include desktop{
                @include flex(row, nowrap, flex-start, center);
                border-bottom: 1px solid map-get($colores, color-gris);
            }
            &--mod {
                @include flex(row, nowrap, flex-end, center);
            }
        }
        &-li {
            margin: 1rem 0.5rem;
            padding: 0.5rem 1rem;
            border-radius: 20px;
            background-color: map-get($colores, color-secundario-2);
            text-transform: capitalize;
            cursor: pointer;
            @include desktop {
                background-color: map-get($colores, color-secundario);
                border-radius: 0;
                margin: 0;
                padding: 1rem;
                font-size: 1.2em;
                font-weight: bold;
                &:hover {
                    border-bottom: 2px solid map-get($colores, color-gris);
                }
            }
        }
    }
}