.c-entradaDetalle {
    @include flex (column, nowrap, center, center);
    &__contenedor {
        @include flex (column, nowrap, center, center);
        width: 95%;
        @include tablet {
            width: 90%;
        }
        @include desktop {
            width: 80%;
        }
    }
    &__noticia {
        margin: 1rem 0;
        width: 90%;
        @include flex(column, nowrap, flex-start, center);
        @include tablet {
            width: 80%;
            margin: 2rem 0;
        }   
        @include desktop {
            margin: 4rem 0;
        }   
    }
    &__titulo {
        font-size: 1.6em;
        font-weight: bold;
        margin-bottom: 1rem;
        @include tablet {
            font-size: 2.5em;
            line-height: 1em;
            margin-bottom: 2rem;
        }
        @include desktop {
            font-size: 3em;
        }
    }
    &__comentario {
        width: 100%;
        margin-bottom: 1rem;
        @include flex(row, nowrap, flex-start, center);
        @include tablet {
            margin-bottom: 2rem;
        }   
        @include desktop {
            margin-bottom: 4rem;
        }
        &-fecha, &-p {
            font-size: 0.8em;
            cursor: pointer;
            @include tablet {
                font-size: 1em;
            }
        }
        &-i, &-p {
            color: map-get($colores, color-azul);
        }
        &-i {
            margin: 0 1rem;
            cursor: pointer;
        }
    }
    &__img {
        @include flex(row, nowrap, center, center);
        margin-bottom: 2rem;
    }
    &__texto {
        @include tablet {
            font-size: 1.3em;
        }
    }
    &__boxRecientes {
        padding: 1rem 0;
        border-top: 1px dotted map-get($colores, color-azul); 
        border-bottom: 1px dotted map-get($colores, color-azul); 
        @include flex(column, nowrap, center, flex-start);
        @include tablet {
            padding: 2rem 0;
        }
    }
    &__recientes {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 1rem;
        @include tablet {
            font-size: 1.8em;
            margin-bottom: 1.5rem;
        }
    }
    &__grid {
        @include grid(1, 0.5rem);
        @include telefonoXL {
            @include grid(2, 0.5rem);
        }
        @include tablet {
            @include grid(4, 0.5rem);
        }
    }
    &__noticiasRecientes {
        margin-bottom: 1.5rem;
        @include flex(column, nowrap, flex-start, center);
        &-img {
            @include flex(row, nowrap, center, center);
            @include tablet {
                max-height: 20rem;
                overflow-y: hidden;
            }
            &--mod {
                max-height: 9.9031rem;
                overflow-y: hidden;
            }
        }
        &-contenido {
            &--mod {
                margin: 1rem;
            }   
        }
        &-titulo {
            font-size: 1.6em;
            margin: 0.5rem 0;
            font-weight: bold;
        }
        &-cuadro {
            @include flex(row, nowrap, flex-start, center);
        }
        &-categoria {
            color: map-get($colores, color-fondo-hover);
            margin-right: 1rem;
            text-transform: uppercase;
            font-weight: bold;
        }
        &-fecha {
            margin: 0.5rem 0;
            color: map-get($colores, color-gris);
        }
        &-texto {
            &--mod{
                max-height: 150px;
                overflow-y: hidden;
            }
        }
    }
    &__boxComentarios {
        width: 100%;
        margin: 1rem 0; 
        padding: 1rem 0; 
        @include flex (column, nowrap, flex-start, flex-start);
        @include tablet { 
            margin: 2rem 0;
        }
        @include desktop {
            width: 90%; 
        }
    }
    &__listadoComentarios {
        margin-bottom: 3rem;
        width: 100%;
        &-comentario {
            @include flex(column, nowrap, center, flex-start);
            margin-left: 0.5rem;
            margin-bottom: 0.5rem;
            padding-bottom: 0.5rem;
            border-bottom: 1px dotted map-get($colores, color-gris-claro);
            @include tablet {
                margin-left: 1rem;
                margin-bottom: 1rem;
                padding-bottom: 1rem;
            }
        }
        &-arriba {
            @include flex(row, nowrap, flex-start, center);
        }
        // &-abajo {

        // }
        &-p {
            margin-right: 0.5rem;
        }
        &-p:nth-child(1) {
            font-weight: bold;
            text-transform: capitalize;
        }
    }
    &__h3 {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 1rem;
        @include tablet {
            font-size: 1.8em;
            margin-bottom: 1.5rem;
        }
        &--mod {
            width: 100%;
            text-align: start;
            font-size: 1.3em;
            font-weight: bold;
            margin-bottom: 1rem;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid map-get($colores, color-gris);
            @include tablet {
                font-size: 1.5em;
            }
        }
    }
    &__form {
        width: 100%;
        padding: 1rem;
        border-radius: 10px;
        background-color: map-get($colores, color-secundario-2);
        margin-bottom: 1rem;
        @include tablet {
            padding: 1.5rem;
            margin-bottom: 1.5rem;
        }
        &-h5 {
            font-size: 1.2em;
            margin-bottom: 1rem;
            @include tablet {
                font-weight: bold;
                font-size: 1.5em;
                margin-bottom: 1.5rem;
            }
        }
        &-contenedor {
            @include flex(column, nowrap, center, center);
            @include tablet {
                @include flex(row, nowrap, center, center);
            }
        }
    }
    &__fieldsetContenedor {
        width: 100%;
        padding: 0.5rem;
        @include tablet {
            width: 70%;
            padding: 1rem;
        }
        &--mod {
            @include flex(row, column, flex-end, center);
        }
    }
    &__fieldset {
        width: 100%;
        margin-bottom: 1rem;
        @include tablet {
            @include flex(row, nowrap, flex-start, center);
        }
        input, textarea {
            width: 100%;
            padding: 0.5rem;
            background-color: map-get($colores, color-secundario);
            border-radius: 5px;
        }
        p {
            margin-bottom: 0.5rem;
            font-weight: bold;
            font-size: 1.2rem;
            @include tablet {
                font-size: 1rem;
            }
        }
        &-id{
            display: none;
        }
    }
    &__fieldset:first-child {
        input {
            @include tablet {
                width: 70%;
                margin-left: 1rem;
            }
        }
    }
    &__fieldset:nth-child(2) {
        p {
            @include tablet {
                display: none;
            }
        }
    }
    &__normas {
        width: 100%;
        list-style-type: disc;
        padding: 0.5rem;
        font-size: 0.8em;
        @include tablet {
            width: 30%;
            font-size: 0.9em;
        }
        &-li {
            list-style-type: inherit;
            margin-left: 2rem;
            margin-bottom: 0.5rem;
        }
        &-li:first-child, &-li:nth-child(2) {
            list-style-type: none;
            margin-left: 0;
        }
        &-li:first-child {
            font-weight: bold;
            margin-bottom: 1rem;
        }
    }
}