.c-entradas {
    @include flex (column, nowrap, center, center);
    &__contenedor {
        width: 95%;
        @include tablet {
            width: 90%;
        }
        @include desktop {
            width: 80%;
        }
    }
    &__categorias {
        margin-bottom: 0.5rem 0;
        overflow-x: hidden;
        width: 100%;
        @include desktop {
            margin-bottom: 1rem 0;
        }
        &-ul {
            @include flex(row, nowrap, center, center);
            @include desktop{
                @include flex(row, nowrap, flex-start, center);
                border-bottom: 1px solid map-get($colores, color-gris);
            }
        }
        &-li {
            margin: 1rem 0.5rem;
            padding: 0.5rem 1rem;
            border-radius: 20px;
            background-color: map-get($colores, color-secundario-2);
            text-transform: capitalize;
            cursor: pointer;
            @include desktop {
                background-color: map-get($colores, color-secundario);
                border-radius: 0;
                margin: 0;
                padding: 1rem;
                font-size: 1.2em;
                font-weight: bold;
                &:hover {
                    border-bottom: 2px solid map-get($colores, color-gris);
                }
            }
        }
    }
    &__listado {
        margin: 1rem 0;
        &-titulo {
            font-size: 1.5rem;
            padding: 1rem;
            border-bottom: 2px solid map-get($colores, color-gris); 
            color: map-get($colores, color-primario-2); 
            margin-bottom: 2rem;
            @include flex(row, nowrap, flex-start, center);
            a {
                text-transform: capitalize;
                cursor: pointer;
                font-weight: bold;
                margin-right: 1rem;
                &:hover {
                    color: map-get($colores, color-gris); 
                }
            }
            i {
                font-size: 0.6em;
            }
            @include desktop {
                font-size: 2rem;
            }
        }
        &-grid {
            @include grid(1, 1rem);
            @include tablet {
                @include grid(2, 1rem);
            }
            &--mod {
                @include grid(1, 1rem);
                @include tablet {
                    @include grid(4, 1rem);
                }
            }
            &--mod2 {
                @include grid(1, 0.5rem);
                @include tablet {
                }
            }
        }
    }
    &__noticia {
        margin-bottom: 1.5rem;
        @include flex(column, nowrap, flex-start, center);
        &-img {
            @include flex(row, nowrap, center, center);
            @include tablet {
                max-height: 20rem;
                overflow-y: hidden;
            }
            &--mod {
                max-height: 9.9031rem;
                overflow-y: hidden;
            }
        }
        &-contenido {
            &--mod {
                margin: 1rem;
            }   
        }
        &-titulo {
            font-size: 1.6em;
            margin: 0.5rem 0;
            font-weight: bold;
        }
        &-cuadro {
            @include flex(row, nowrap, flex-start, center);
        }
        &-categoria {
            color: map-get($colores, color-fondo-hover);
            margin-right: 1rem;
            text-transform: uppercase;
            font-weight: bold;
        }
        &-fecha {
            margin: 0.5rem 0;
            color: map-get($colores, color-gris);
        }
        &-texto {
            &--mod{
                max-height: 150px;
                overflow-y: hidden;
            }
        }
    }
}