.c-home {
    position: relative;
    .c-header {
        background-color: transparent;
        @include position(absolute, null, 0, null, 0);
        &__nav{
            background-color: transparent;
        }
    }
}