.c-home {
    position: relative;
    header {
        background-color: transparent;
        @include position(absolute, null, 0, null, 0);
        color: map-get($colores, color-secundario);
    }
}