.c-registro {
    margin: 3rem 0;
    &__contenedor {
        margin: 1rem;
        @include tablet {
            margin: 3rem auto;
            width: 70%;
        }
    }
    &__h1 {
        font-size: 1.5em;
        padding-bottom: 1rem;
        border-bottom: 2px solid map-get($colores, color-primario);
        @include tablet {
            font-size: 2em;
        }
    }
    &__form {
        margin: 2rem auto;
        width: 90%;
        @include tablet {
            width: 70%;
        }
    }
    &__input {
        &-email, &-password {
            width: 100%;
            border: 1px solid map-get($colores, color-gris);
            padding: 0.5rem;
            margin-bottom: 1rem;
        }
        &-boton {
            width: 100%;
            @include tablet {
                width: auto;
                margin: 0 auto;
            }
        }
    }
    &__p {
        margin: 0 auto;
        width: 90%;
        border-bottom: 1px solid map-get($colores, color-primario);
        padding-bottom: 1rem;
        @include tablet {
            width: 70%;
        }
    }
    &__abajo {
        margin: 0 auto;
        padding: 1rem 0;
        width: 90%;
        @include flex(row, nowrap, flex-start, center);
        @include tablet {
            width: 70%;
        }
        &-p {
            font-size: 1.3em;
        }
        &-sesion {
            font-size: 1.1em;
            margin-left: 1rem;
            color: map-get($colores, color-azul);
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}