.c-slider {
    &__contenedor {
        background-image: url('../../assets/img/portada1.jpg');
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
        @include flex(column, nowrap, center, center);
    }
    &__h1 {
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    &__em {
        font-size: 1.5em;
        font-style: italic;
    }
}