.c-slider {
    &__contenedor {
        background-image: url('../../assets/img/1.jpg');
        height: 90vh;
        @include flex(column, nowrap, center, center);
        color: map-get($colores, color-secundario);
    }
}