.c-submenus {
    position: relative;
    &__contenedor {
        cursor: default;
        @include position (absolute, 0, 0, null, null);
        min-width: 16rem;
        background-color: map-get($colores, color-secundario);
        color: map-get($colores, color-primario);
        padding: 0.5rem;
        border: 3px solid map-get($colores, color-borde-cesta);
        border-radius: 3px 0 3px 3px;
        &--mod {
            max-height: 31.25rem;
            overflow-y: scroll;
        }
        @include telefonoM{
            min-width: 17rem;
        }
        @include telefonoXL {
            min-width: 18.75rem;
        }
        @include tablet {
            min-width: 20rem;
            padding: 1rem
        }
    }
    &__secciones {
        @include flex (column, nowrap, center, flex-start); 
        border-bottom: 1px dotted #000;
        padding: .5rem;
        &--mod {
            @include flex (row, nowrap, center, center);    
        }
        &--mod2 {
            @include flex (row, nowrap, space-around, center);
        }
    }
    &__secciones:first-child {
        cursor: pointer;
        &:hover {
            .c-submenus__datos-nombre {
                color: map-get($colores, color-fondo-hover);
            }
        }
    }
    &__secciones:last-child {
        border-bottom: none;
    }
    &__datos {
        margin-left: 0.5rem;
        &-nombre {
            font-size: 1.3em;
            font-weight: bold;
        }
        &-email {
            margin-top: 0.5rem;
        }
    }
    &__p {
        padding-top: 0.5rem; 
        padding-left: 0.5rem;
        cursor: pointer;
        text-transform: capitalize;
        &:hover {
            color: map-get($colores, color-fondo-hover);
        }
    }
    &__p:first-child {
        padding-top: 0;
    }
    
}