.c-tuperfil {
    @include flex (column, nowrap, center, center);
    &__contenedor {
        @include flex (row, nowrap, center, flex-start);
        border: 1px solid map-get($colores, color-gris);
        width: 95%;
        @include tablet {
            width: 100%;
            margin: 1rem 0;
        }
        @include desktop {
            margin: 2rem 0;
            width: 80%;
        }
    }
    &__izq {
        @include flex (column, nowrap, flex-start, center);
        width: 25%;
        &-cabecera {
            padding: 1rem;
            width: 100%;
            @include flex(column, nowrap, center, center);
            &-div {
                margin: 0.5rem 1rem 2rem;
                img {
                    border-radius: 50%;
                }
            }
            &-profesion {
                font-size: 1.1em;
                font-style: italic;
            }
            &-nombre {
                font-size: 1.3em;
                font-weight: bold;
                font-style: normal;
                margin-bottom: 0.5rem;
            }
        }
        &-contenido {
            padding: 1rem;
            width: 100%;
            &-p {
                padding: 0.5rem;
                font-size: 1.2em;
                cursor: pointer;
                &:hover {
                    background-color: map-get($colores, color-fondo-hover);
                }
            }
        }
    }
    &__der {
        @include flex (column, nowrap, flex-start, center);
        width: 75%;
        border-left: 1px solid map-get($colores, color-gris);
        &-cabecera {
            width: 100%;
            padding: 1rem;
            border-bottom: 1px solid map-get($colores, color-gris);
            &-h1 {
                font-size: 1.5em;
                margin-bottom: 1rem;
            }
            &-h4 {
                font-style: italic;
                font-size: 0.9em;
            }
        }
        &-contenido {
            padding: 1rem;
            width: 100%;
            @include flex(column, nowrap, center, center);
            &-h5, &-p {
                width: 80%;
                margin-bottom: 0.5rem;
            }
            &-h5 {
                margin-top: 1rem;
                font-weight: bold;
            }
            &-p {
                padding: 1rem;
                border: 1px solid map-get($colores, color-gris);
            }
            &-div {
                width: 100%;
                @include flex(row, nowrap, flex-start, center);
            }
            &-boton {
                margin: 2rem 4rem;
            }
        }
    }
    }