
.u-opacity {
    &--50 {
        opacity: 0.5;
    }
}
.u-cursor{
    &--not-allowed {
        cursor: not-allowed;
    }
}
.u-active {
    background-color: map-get($colores, color-fondo);
}
.u-mensaje {
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5rem;
    &--error {
        color: red;
    }
    &--exito {
        color: green;
    }
    &--alerta {
        color: map-get($colores, color-fondo-hover);
    }
}